@font-face {
    font-family: 'Rabbid Highway Sign II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Rabbid Highway Sign II Regular'),
        url('../fonts/RabbidHighwaySignII.woff') format('woff');
}

@font-face {
    font-family: 'Rabbid Highway Sign II Obl';
    font-style: normal;
    font-weight: normal;
    src: local('Rabbid Highway Sign II Obl'),
        url('../fonts/RabbidHighwaySignIIObl.woff') format('woff');
}