/* Colors */
$iok--blue: rgb(80, 173, 229);
$iok--red: rgb(214, 61, 94);
$iok--black: #000;
/* Color list */
$colors: ("blue": $iok--blue,
    "red": $iok--red,
    "black": $iok--black);
/* Sizes */
$spacing-none: 0;
$spacing-extra-small: .25rem;
$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-extra-large: 4rem;
$spacing-extra-extra-large: 8rem;
$spacing-extra-extra-extra-large: 16rem;

/* Size list */
$sizes: $spacing-none,
$spacing-extra-small,
$spacing-small,
$spacing-medium,
$spacing-large,
$spacing-extra-large,
$spacing-extra-extra-large,
$spacing-extra-extra-extra-large;